.layout-container {
    padding-left: 20px;
    padding-right: 20px;
}

.layout-layer-container {
    position: relative;
    .layout-layer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }
}
