$medium: 550px;
$small: 400px;

$light-black: #222222;
$dark-gray: #424242;
$gray: #616161;

$dark-green: #007E33;
$light-green: #00C851;

$dark-red: #CC0000;
$light-red: #ff4444;

$dark-yellow: #ffd740;
$light-yellow: #ffff00;

$dark-blue: #0d47a1;
$light-blue: #4285F4;